:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);

  --font-size: 15px;
  --font-family: Poppins;
  --font-weight-200: 200;
  --font-weight-400: 400;
  --font-weight-600: 600;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  color: var(--color-grey-500);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size);
}

h1,
h2 {
  font-size: clamp(1.7rem, 5vw, 2.5rem);
}

h1 {
  font-weight: var(--font-weight-200);
}

h2 {
  font-weight: var(--font-weight-600);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 2rem;
  gap: 4.8rem;
}

.headerPanel {
  text-align: center;
  max-width: 35rem;
}

.description {
  margin-top: 1.5rem;
}

.gridPanel {
  display: grid;
  max-width: 79rem;
  gap: 2rem;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'cyanCard'
    'redCard'
    'orangeCard'
    'blueCard';
}

.card {
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p {
  color: var(--color-grey-400);
}

.card img {
  margin-left: auto;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card h3 {
  font-weight: var(--font-weight-600);
}

.cyan {
  border-top: 3px solid var(--color-cyan);
  grid-area: cyanCard;
}

.red {
  border-top: 3px solid var(--color-red);
  grid-area: redCard;
}

.orange {
  border-top: 3px solid var(--color-orange);
  grid-area: orangeCard;
}

.blue {
  border-top: 3px solid var(--color-blue);
  grid-area: blueCard;
}

@media (min-width: 55rem) {

  h1,
  h2 {
    font-size: 2.5rem;
  }

  .content {
    margin: 0 5%;
  }

  .gridPanel {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      '.         redCard           .'
      'cyanCard  redCard    blueCard'
      'cyanCard  orangeCard blueCard'
      '.         orangeCard        .';
  }
}